<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AXUM.RS博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/"
            ><img src="/static/img/logo.svg" alt="logo" style="height: 32px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">首页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/subject">专题</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/topic">文章</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tag">标签</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">关于</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="columns">
            <div class="column is-four-fifths">
                <div class="card mb-3">
                    <div class="card-content">
                        <div class="content">
                          哈哈哈哈
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="card-footer-item">哈哈哈</div>
                    </footer>
                </div>
                <div class="card mb-3">
                    <div class="card-content">
                        <div class="content">
                            没有满足条件的记录
                        </div>
                    </div>
                </div>

                <nav class="pagination" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        <li>
                            哈哈哈
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <aside class="menu">
                    <p class="menu-label">
                        搜索
                    </p>
                    <form class="is-flex is-flex-direction-row is-justify-content-start is-align-items-center"
                        method="get" action="/">
                        <div class="control">
                            <input class="input is-small" type="text" placeholder="输入关键字" name="keyword" />
                        </div>
                        <div class="control ml-1">
                            <button class="button is-primary is-small">搜索</button>
                        </div>
                    </form>
                    <p class="menu-label">
                        分类
                    </p>
                    <ul class="menu-list">
                        我是ul
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</body>

</html>